

.Terminal {
    overflow: auto;
    /* align-content: center; */
    /* text-align: center; */
    margin: 0 auto
}

#cmdline.after {
    content: '~ projects '
}

a {
    color: white;
}
.projects {
    color: #69C2CF;
}
.cd.projects {
    color: white;
}
.file.projects {
    color: white
}

div .hidden {
    opacity: .5;
}