body{
    background-color: #1E1E1E;
    color: white;
}

.Terminal {
    overflow: auto;
    /* align-content: center; */
    /* text-align: center; */
    margin: 0 auto;
    border: 1.5px solid white
}

#cmdline.after {
    content: '~ projects '
}

a {
    color: white;
}
.projects {
    color: #69C2CF;
}
.cd.projects {
    color: white;
}
.file.projects {
    color: white;
}
.cat.projects {
    color: white;
}
.cat.hidden {
    opacity: 1;
}
div .hidden {
    opacity: .5;
}